body {
  margin: 0;
  padding: 0;

  background-color: antiquewhite;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 40px;
  vertical-align: center;
}

header {
  width: 80%;
  height: 100px;
  /* background-color: purple; */
  margin: 0px auto;
  text-align: center;
  line-height: 100px;
}

nav {
  width: 80%;
  height: 60px;
  /* background-color: blue; */
  margin: 0px auto;
  vertical-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.nav-button {
  width: 20%;
  height: 60px;
  background-color: lightblue;
  color: white;
  /* border: solid black 1px;
  box-sizing: border-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-button:hover {
  background-color: lightgray;
  color: black;
}

.nav-button:active {
  background-color: gray;
  color: white;
  transition: all 0.2s ease;
}

main {
  width: 80%;
  /* height: auto; */
  /* background-color: pink; */
  margin: 20px auto;
  flex: 1;
}

.images {
  width: 300px;
  height: 400px;
  /* background-color: lightcoral; */
  margin: 0;
  align-items: center;
  margin-top: 20px;
}

.images2 {
  width: 400px;
  height: 300px;
  /* background-color: lightblue; */
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  /* position: relative;
  left: -50px; */
}

.gallary-container {
  width: 95%;
  height: auto;
  /* background-color: purple; */
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.5);
  transition: all 0.2s ease;
}

footer {
  width: 80%;
  height: 62px;
  /* background-color: red; */
  margin: 0px auto;
  vertical-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
