p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
}

.instruction {
  font-size: 30px;
  font-weight: 450;
}

.underline {
  text-decoration: underline;
}
